<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="form-container">
            <h1><%= title %></h1>
            <%- messages() %>
            
            <form action="/inv/add-inventory" method="post">
                <div class="form-group">
                    <label for="classification_id">Classification:</label>
                    <%- classificationList %>
                </div>
                
                <div class="form-group">
                    <label for="inv_make">Make:</label>
                    <input type="text" name="inv_make" id="inv_make" required
                        value="<%= typeof inv_make !== 'undefined' ? inv_make : '' %>">
                </div>
                
                <div class="form-group">
                    <label for="inv_model">Model:</label>
                    <input type="text" name="inv_model" id="inv_model" required
                        value="<%= typeof inv_model !== 'undefined' ? inv_model : '' %>">
                </div>
                
                <div class="form-group">
                    <label for="inv_year">Year:</label>
                    <input type="text" name="inv_year" id="inv_year" required
                        value="<%= typeof inv_year !== 'undefined' ? inv_year : '' %>">
                </div>
                
                <div class="form-group">
                    <label for="inv_description">Description:</label>
                    <textarea name="inv_description" id="inv_description" required><%= typeof inv_description !== 'undefined' ? inv_description : '' %></textarea>
                </div>
                
                <div class="form-group">
                    <label for="inv_image">Image Path:</label>
                    <input type="text" name="inv_image" id="inv_image" value="/images/vehicles/no-image.png"
                        value="<%= typeof inv_image !== 'undefined' ? inv_image : '/images/vehicles/no-image.png' %>">
                </div>
                
                <div class="form-group">
                    <label for="inv_thumbnail">Thumbnail Path:</label>
                    <input type="text" name="inv_thumbnail" id="inv_thumbnail" value="/images/vehicles/no-image-tn.png"
                        value="<%= typeof inv_thumbnail !== 'undefined' ? inv_thumbnail : '/images/vehicles/no-image-tn.png' %>">
                </div>
                
                <div class="form-group">
                    <label for="inv_price">Price:</label>
                    <input type="number" name="inv_price" id="inv_price" required
                        value="<%= typeof inv_price !== 'undefined' ? inv_price : '' %>">
                </div>
                
                <div class="form-group">
                    <label for="inv_miles">Miles:</label>
                    <input type="number" name="inv_miles" id="inv_miles" required
                        value="<%= typeof inv_miles !== 'undefined' ? inv_miles : '' %>">
                </div>
                
                <div class="form-group">
                    <label for="inv_color">Color:</label>
                    <input type="text" name="inv_color" id="inv_color" required
                        value="<%= typeof inv_color !== 'undefined' ? inv_color : '' %>">
                </div>
                
                <button type="submit" class="btn-submit">Add Inventory</button>
            </form>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>